__pycache__
export_*
backup
auto_output.txt
data.db
datas
build
*.exe
*.pyd
*.log
*.asv
~*

*.pdf
*.zip
*.aux
*.bbl
*.dvi
*.log
*.nav
*.snm
*.bak
*.blg
*.toc
*.out
*.gz
*.lof
*.lot
*.spl

*.pdb
*.sln
.vs
*.VC.*
Debug
Release
